name: Act-Demo workflow

on: workflow_dispatch
jobs:
  read-spreadsheet:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
      - name: Print values from python file
        run: |
          pip install --upgrade 
          python verify_read.py > user_data.txt  
          cat user_data.txt
            
         
